body{
    background-image: url(../images/fondojuego.jpeg);
    background-size: 100%;
    font-size: 50px;
}
.nombreAnimal{
    background-color: blue;
    padding: 20px;
    border: 2px solid black;
    width: 110px;
}
.cajaAnimal{
    border: 2px solid black;
    width: 110px;
    margin-top: 10px;
}
#conoceFijo {
    position: absolute;
    left: 130px;
    top: 50px;
}

#cajatxt{
    border: 2px solid black;
    width: 110px;
}

.textoAnimal{
    border: 2px solid black;
    width: 110px;
    margin-top: 10px;

}

#chido{
    position: absolute;
    left: 1100px;
    top: 20px;
}

#arrastrables{
    position: absolute;
    left: 1100px;
    top: 20px;
}

#TITLE{

    font-family: 'Climate Crisis', cursive;
    font-size: 4em;
}


.name{
    background: linear-gradient(45deg, rgb(32, 114, 214) 0%, rgb(78, 140, 213) 100%);
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    height: 2em;
    padding-left: 10px;

    
}

.icono{
    width: 2vw;
	height: 7vh;
}
#player-container #play-pause {
    cursor: pointer;
    text-indent: -999999px;
    height:80px;
    width: 80px;
    padding: 12px 18px;
    z-index: 2;
    margin-left: 20%;
    margin-top: 0px;
  
    background-repeat:no-repeat;
    background-position:center;
    background-size:50px;
    background-color: none;
    position: absolute; top:20px; left:10px;
  }
  .play {
    background-image: url(../images/No_Music.svg);
  }
  .pause {
     background-image: url(../images/Si_Music.svg)!important;
  }

  .wrap {
    align-items: center;
    justify-content: center;
  }
  .button {
    text-decoration: none;
    text-align: center;
    min-width: 100px;
    margin-right: 40px;
    min-height: 50px;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #000000;
    background: #2f6c66;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }

    .container {
        height: 900px;
        width: 100%;
        background: #0f9bf6;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .content {
        text-align: center;
        font-size: 2em;
        color: black;
      }
      .waves {
        position: absolute;
        /*      left: 0;bottom: 0;*/
        bottom: -135px;
        height: 527px;
        width: 100%;
        overflow: hidden;
      }
      .wave {
        position: absolute;
        left: -180px;
        bottom: 0;
        /*width: 200px;*/
        width: 2402px;
        height: 427px;
        background: url(https://static.platzi.com/media/files/waves_c8551f5d-ecf6-4a81-ae1d-f3a0ad55ba10.png) center bottom no-repeat;
        animation: 5s wave ease-in-out infinite alternate;
      }
      .wave.a {
        background-position: 0 -854px;
      }
      .wave.b {
        background-position: 0 -427px;
        animation-delay: 0.6s;
      }
      .wave.c {
        background-position: 0 0;
        animation-delay: 1.2s;
      }
      @keyframes wave {
        0% {
          transform: translate(0, 0);
        }
        50% {
          transform: translate(-80px, 30px);
        }
        100% {
          transform: translate(160px, -60px);
        }
      }
hola{
    color:rgb(6, 6, 56);
}
